<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DbHelper.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DbHelper.Properties.Settings>
            <setting name="DbName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DbUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value/>
            </setting>
        </DbHelper.Properties.Settings>
    </userSettings>
</configuration>
